@keyframes animation{
	0%{
		top: 0px;
		left: 75px;
		right: 75px;
		bottom: 0;
		z-index: 5;
	}

	20%{
		top: -405px;
		left: 75px;
		right: 75px;
		bottom: 0px;
		z-index: 5;
	}

	40%{
		top: -405px;
		left: -300px;
		right: 0;
		bottom: 0;
		z-index: 5;
	}

	60%{
		top: 410px;
		left: -300px;
		right: 0px;
		bottom: 0;
		z-index: 5;
	}

	80%{
		top: 410px;
		left: 75px;
		right: 75px;
		bottom: 0;
		z-index: 5;
	}

	100%{
		top: 0;
		left: 75px;
		right: 75px;
		bottom: 0;
		z-index: 5;
	}

}

@keyframes animation-1{
	0%{
		top: 0px;
		left: 75px;
		right: 75px;
		bottom: 0;
		z-index: 1;
	}

	20%{
		top: -405px;
		left: 75px;
		right: 75px;
		bottom: 0px;
	}

	40%{
		top: -405px;
		left: -00px;
		right: 0;
		bottom: 0;
	}

	60%{
		top: 410px;
		left: -300px;
		right: 0px;
		bottom: 0;
	}

	80%{
		top: 410px;
		left: 75px;
		right: 75px;
		bottom: 0;
	}

	100%{
		top: 0;
		left: 75px;
		right: 75px;
		bottom: 0;
		z-index: 1;
	}

}


